.item { 
    border-radius: 5px;
    grid-area: c;
    height: 100%;
}
.Card { 
    padding: 30px 40px;
    border: solid .5px rgba(0, 0, 0, 0.85);
    cursor: default;
}
.img {
    height: 45px;
    width: 45px;
}

.pagesNav {
    display: flex;
    padding: 10px;
    justify-content: center;
}

.name {
    margin-top: 20px;
}

.user {
    display: flex;
}
.follow {   
    margin-left: 50px;
    font-family: "Roboto Serif";
    font-size: 18px;
    line-height: 20px;
    padding: 5px;
}