.item { 
    background-color: rgb(254, 192, 48, 0.7);
    border-radius: 5px;
    grid-area: c;
    height: 100%;
}
.Card { 
    padding: 30px 40px;
    border: solid .5px rgba(0, 0, 0, 0.85);
    cursor: default;
}
.img {
    height: 45px;
    width: 45px;
}

.pagesNav {
    display: flex;
    padding-top: 10px;
    justify-content: center;
}

.pageNumber.selectedPage {
    font-weight: bold;
    border-color: black;
}
