.formControl.error input,
.formControl.error textarea {
  border: solid red 1px;
}

.formControl.error span {
  color: red;
}
.formSummaryError {
  width: 200px;
  border: solid red 1px;
  padding: 5px;
  color: red;
}
textarea::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 18px;
}
