@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Serif:ital,wght@0,400;0,700;1,500&display=swap');
.header {
    grid-area: h;
    background-color: rgb(235, 235, 235);
    border: solid 1.3px black;
    border-radius: 5px;
  }
  .header img {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 10px;
    padding-left: 20px;
  }
  .header span {
    position: relative;
    color: rgba(0, 0, 0, 0.85);
    left: 90px;
    top: 25px;
    font-family: "Roboto Serif";
    font-style: italic;
    font-size: 25px;
    line-height: 30px;
  }
  .loginBlock { 
    float: right;
  }
  .logout {
    position: relative;
    margin: 10px 20px;
    cursor: pointer;
  }
  .login {
    display: flex;
    margin: 10px 20px;
    font-family: "Roboto Serif";
    font-size: 20px;
    line-height: 25px;
  }
  .loginBtn {
    position: relative;
    margin: 20px;
    cursor: pointer;
    width: 70px;
    height: 40px;
    font-family: "Roboto Serif";
    font-size: 15px;
    line-height: 20px;
  }