.app-wrapper {
  visibility: visible;
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 80px 1fr;
  grid-template-areas:
    "h h"
    "n c";
  width: 1200px;
  height: 800px;
  margin: -10px auto;

}
.app-wrapper-content {
  background-color: rgba(254, 192, 48, 0.7);
  
}

/* rgb(134, 97, 214, 0.6) - fiol 
rgba(255, 210, 112, 0.7); - main 
rgba(213, 162, 42, 0.87) - darker */