.app-wrapper {
  visibility: visible;
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 80px 1fr;
  grid-template-areas:
    "h h"
    "n c";
  width: 1200px;
  height: 500px;
  margin: -10px auto;

}
.app-wrapper-content {
  background-color: rgba(254, 192, 48, 0.7);
  
}